<title>{{ page.title }} - VARSTACK</title>
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/style.css" rel="stylesheet">
<script src="/js/jquery-1.11.3.min.js"></script>
<script src="/js/SmoothScroll.js"></script>
<script src="/js/script.js"></script>

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <img src="/img/{{page.img}}" id="bg-img" alt="{{page.img-alt}}">
    <div class="container">
        <div class="row" id="menu">
            <div class="table_this" id="tableRow">
                <div class="col-sm-3 vcenter">VARSTACK</div>
                <div class="col-sm-6 vcenter">MENU</div>
                <div class="col-sm-3 vcenter">SEARCH</div>
            </div>
        </div>
        <div class="row" id="image"> </div>
        <div class="row" id="content">
            <div class="col-sm-3" id="recent">
                <h3>RECENT POSTS</h3>
                <ul>
                    {% for post in site.posts %}
                    <li>
                        <a href="{{ post.url }}">{{ post.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-sm-7">
                <div class="row text-justify" id="data">
                    <br />
                    <h2>{{page.title}}</h2>
                    <hr />
                    {{content}}
                </div>
            </div>
            <div class="col-sm-2">
            </div>
        </div>
    </div>
